default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\Context\RestContext
                - App\Tests\Behat\Context\BehatContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
                    kernel:
                        class: 'App\Kernel'
                        environment: test
                        debug: true
                    bootstrap: 'tests/bootstrap.php'
